<!DOCTYPE html>
<html>
<title>Cervical</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<body data-load="1723728383">

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="image" class="w3-bar-item w3-button">Detect Cervical Spine Fracture</a>
  <a href="results" class="w3-bar-item w3-button">Results</a>
  <a href="/" class="w3-bar-item w3-button">Logout</a>
  
</div>

<div style="margin-left:25%">

<div class="w3-container w3-teal">
  <h1>Cervical Spine Fracturte Detection Using Deep Learning</h1>
</div>

{% block content %}
{% endblock %}

<div class="w3-container w3-teal">
  <div class="w3-container w3-cell w3-mobile" style="width:85%">
    <h5>Developed By</h5>
    <div class="w3-container w3-cell">
      <p>Ishika Chandwadkar</p>
      <p>Vidhi Mane</p>
    </div>
    <div class="w3-container w3-cell">
      <p>Siddhi kothavale</p>
      <p>Pranoti Jagtap</p>
    </div>
  </div>
  <div class="w3-container w3-cell w3-mobile">
    <h5>Guided By</h5>
    <p>Prof Dr K S WAGH</p>
  </div>
  </div>

</div>
      
</body>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="static/js/ml.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $().jqLoad();
    });
</script>
</html>
